*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body {
    background-image: linear-gradient(#00fff0 5.6px, transparent 5.6px), 
                      linear-gradient(90deg, #00fff0 5.6px, transparent 5.6px), 
                      linear-gradient(#00fff0 2.8px, transparent 2.8px), 
                      linear-gradient(90deg, #00fff0 2.8px, #003cff 3px);
    background-size: 140px 140px, 140px 140px, 28px 28px, 28px 28px;
    background-position: -5.6px -5.6px, -5.6px -5.6px, -2.8px -2.8px, -2.8px -2.8px;
    position: relative;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6); /* Opacidad aplicada aquí */
    z-index: -1; /* Para asegurarse de que esté detrás del contenido */
}

main{
    width: auto;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text h3{
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #c4fffb;
}
.text h4{
    color: #d1fffc;
}


.container{
    width: 300px;
    background-color: rgba(174, 0, 255, 0.708);
    border-radius: 10px;
    display: flex;
    display: grid;
    gap: 25px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-shadow: 10px 14px rgba(93, 0, 119, 0.715);
}

.factorial input{
    
    border-radius: 5px;
}
.resultado{
    font-size: 1rem;
    color: aliceblue;
    margin: 5%;
}
button{
    margin: 3%;
    cursor: pointer;
    padding: 5px;
    border-radius: 25px;
    background-color: #50007b;
    color: aliceblue;
    border: solid rgb(26, 0, 40);
    transition: transform 0.3s ease; /* Transición para el efecto de escala */
}
button:hover{
    cursor: pointer;
    padding: 5px;
    border-radius: 25px;
    background-color: #e2adff;
    color: rgb(40, 0, 77);
    border: solid rgb(156, 0, 240);
    transform: scale(1.1); /* Aumenta el tamaño del botón al 110% */
}