<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>factorial</title>
    <link rel="stylesheet" href="../public/css/projects/factorial.css">
</head>
<body>
    <main>
        <div class="container">
            <div class="text">
                <h3>Ejercicio factorizar</h3>
                
                <h4>Ingrese el numero que desea factorizar</h4>
            </div>
            <div class="factorial">
                <input type="number" placeholder="ingresa un numero" id="factorial">
                <h3 class="resultado" id="resultado">_______________________</h3>
                <button type="submit" id="enviar" onclick="factorialN()">factorizar</button>
            </div>
        </div>
    </main>
</body>
<script src="../public/js/factorial.js"></script>
</html>