<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fibonacci</title>
    <link rel="stylesheet" href="../public/css/projects/fibonacci.css">
</head>
<body>
    <main>
        <div class="container">
            <div>
                <h2>FIBONACCI</h2>    
            </div>
            <div>
            <h3>Escribe el numero de la secuencia Fibonacci que deseas ver:</h3>    
            </div>
            <div>
            <input type="number" placeholder="ingresa un numero" id="fibonacci">    
            </div>
            <div>
            <h3 class="resultado" id="resultado">___________________</h3>     
            </div>
            <div>
            <button type="submit" id="enviar" onclick="fibonacciR()">Enviar</button>    
            </div>
            
        </div>
    </main>
    
</body>
<script src="../public/js/fibonacci.js"></script>
</html>